@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&family=Nunito:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
}
h1{
  font-family: Josefin Sans, sans-serif;
}
h2,button{
  font-family: Nunito, sans-serif;
  font-weight: 700;
}
p{
  font-family: Open Sans, sans-serif;
}